

.h1 {
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  width: 100%;
  height: 5rem;
}

.logoAndHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}
